* {
    font-family: Archivo, sans-serif;
    font-weight: 500;
}

h5.main-page-h5 {
    margin-top: -6%;
    font-weight: 700;
    margin-left: 5%;
}

h4 {
    color: #336A64;
    font-weight: 700;
}

#detail-product-title {
    font-weight: 900;
    font-size: 52px;
}

#detail-product-tag {
    color: #268b7f;
    font-size: 36px;
}

#detail-product-description {
    color: black;
    margin-top: 5%;
    width: 70%;
    font-size: 36px;
    font-weight: 300;
}

#detail-product-img {
    height: 600px;
    object-fit: contain;
}

#detail-product-price {
    text-align: center;
    margin-top: 5%;
    color: #268b7f;
    width: 70%;
    font-size: 36px;
    font-weight: 900;
}

#detail-product-button {
    color: white;
    font-size: 24px;
    border-radius: 15px;
    width: 65%;
    height: 60px;
    background: linear-gradient(270deg, #27423F 0%, #36726B 115.32%);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
    border-style: none;
}

.details-main-container div {
    width: 30%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.products-filter-blacked {
    display: flex;
    justify-content: space-around;
    height: 50px;
    background-color: black;
}

.details-main-container div section {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}

.details-main-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container-fluid img {
    width: 120px;
    height: 38px;
}

.navbar-text-color {
    color: #000000;
}

.navbar-text-color-admin {
    color: #d54b00;
    font-weight: bold;
}
.cart-content{
    display: flex;
    flex-direction: row;
        margin-bottom: 15px;
}

.cart-content img{
max-width: 100px;
object-fit: contain;
border-radius: 50px;
}

.cart-content div {
    margin-top: 30px;
    margin-left: 15px;
    display: column;
    flex-direction: row;

}

.card-button-products {
    background: linear-gradient(270deg, #27423F 0%, #36726B 115.32%);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);

    color: white !important;
    margin-bottom: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 200px;
    text-align: center;
    border-style: none;
    border-radius: 12px;
}

input.padding-input {
    width: 100%;
    padding: 10px 30px 10px 50px;
    border-radius: 50px;
    border-style: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

a img.input-img-shopbag {
    top: 2px;
    position: relative;
    width: 30px;
    height: 30px;
    bottom: 35%;
    right: 46px;
    cursor: pointer;
}

a img.input-img-shopbag:hover {
   transform: opacity 0.2s ease-in-out;
}

img.input-img-search {
    position: relative;
    margin-top: 9px;
    width: 25px;
    height: 25px;
    right: 85%;
}

img.input-img-division {
    position: relative;
    margin-top: 9px;
    width: 3px;
    height: 25px;
    right: 28%;
}

.main-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 700px;
}

.main-text-container {
    position: relative;
    z-index: 1;
    padding-top: 5%;
    padding-left: 13%;
}

.main-text-icon {
    display: flex;
    flex-direction: row;
}

.text-img-icon {
    margin-left: 20px;
    margin-top: 10px;
    ;
    height: 50px;
}

.abril-font {
    font-family: 'Abril Fatface', cursive;
}

.abril-size-small {
    font-size: 45px;
}

.abril-size-medium {
    font-size: 65px;
    margin-top: -20px;
}

.abril-size-big {
    margin-top: -30px;
    font-size: 96px;
    color: #CDB590;
}

.styled-main-text-paragraph {
    margin-top: -10px;
    color: #7B7B7B;
    font-weight: 400;
    max-width: 300px;
    line-height: 18px;
}

.main-image-fitter {
    order: 1;
    z-index: -1;
    height: 500px;
    object-fit: contain;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 13%;
    margin-bottom: 7%;

}

::placeholder {
    padding-left: 10%;
}

p {
    margin-bottom: 0px;
}

.main-button-container {
    margin-top: 8%;
    display: flex;
    flex-direction: row;
}

.most-rated-button {
    margin-left: 60px;
    margin-top: 15px;
    transition: ease-in-out 1s;
}

.most-rated-button button {
    border-style: none;
    background-color: transparent;
    text-decoration: underline;
    font-size: 18px;
}

.most-rated-button img {
    margin-top: -5%;
}

.main-button-img {
    margin-left: -45px;
    margin-top: -8px;
}

.main-button-content {
    transition: ease-in-out 1s;
}

.image-fitter-clothes-selection {
    margin-top: 2%;
    height: 70px;
    object-fit: contain;
}

.clothes-type-selector {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    margin: 0 10%;
    height: 100px;
}

.main-button {
    text-align: left;
    padding-left: 30px;
    border-style: none;
    color: white;
    width: 240px;
    height: 54px;
    left: 107px;
    top: 536px;
    font-weight: 400;
    font-size: 20px;

    background: linear-gradient(270deg, #27423F 0%, #36726B 115.32%);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
}

.clothes-type-mobile {
    display: none;
}

.arrow-size-left {
    margin-top: 15px;
    height: 50px;
    object-fit: contain;
    transition: ease-in-out 0.5s;
}

.arrow-size-right {
    margin-top: 15px;
    height: 50px;
    object-fit: contain;
    transition: ease-in-out 0.5s;
}

.p-card-style {
    color: #7B7B7B;
    font-size: 16px;
    margin-left: 20px;
    text-align: left;
}

.card-style {
    margin-top: 5%;
    max-width: 390px;
}

.clothes-card-selector {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.set-size-card {
    height: 600px;
    object-fit: contain;
}

.justify-content-cards {
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}


#product-container-page {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-arrow-size {
    margin-top: 200px;
    height: 50px;
    object-fit: contain;

}

.clothes-card-mobile {
    display: none;
}

.clothes-card-mobile-2 {
    display: none;
}

.page-choosing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.border-fixed-cards {
    border-style: none;
}

.card-tag {
    text-align: center;
    color: #268b7f;
    margin-top: -5%;
    margin-bottom: 3%;
}

.card-priece {
    text-align: center;
    color: #856205;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 4%;
    margin-top: 4%;

}

.page-selector {
    display: flex;
    flex-direction: row;
    margin-top: -50px;
    margin-left: 15%;
}

.page-selector h4 {
    margin-top: 50px;
    margin: 0px 60px;
    color: #7B7B7B;
}

.page-selector h4 span {
    font-weight: 800;
    color: #336A64;
}

.see-all-products-button {
    margin-right: 10%;
    object-fit: contain;
    transition: ease-in-out 0.5s;
}

.call-to-action-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

.call-to-action-text {
    left: 0;
    text-align: right;
    margin-top: 65px;
    margin-right: 2%;
}

.call-to-action-text p {
    font-family: 'Abril Fatface', cursive;
    font-size: 65px;
    margin-top: -20px;

}

.call-to-action-column {
    justify-content: space-around;
    margin-top: 5%;
    margin-left: 5%;
}

.call-to-action-column p {
    margin-top: 10%;
    margin-left: 3%;
    font-weight: 300;
    max-width: 300px;
    margin-bottom: 10%;
}

.call-to-action-column div {
    flex-direction: row;
}

.call-to-action-column div img {
    margin-left: -50px;
}

.call-to-action-fix {
    display: flex;
    flex-direction: row;
}

footer {
    background-color: black;
    height: 250px;
    margin-top: -10%;
}

footer .footer-p-align {
    margin-top: 200px;
}

footer p {
    padding-top: 15px;
    text-align: center;
    color: white;
    font-weight: 300;
}

.footer-name-tag {
    font-weight: 900;
    font-size: 22px;
    color: #268b7f;
}

footer p span {
    color: gray;
}

.contact-me-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact-me-links img {
    height: 30px;
    object-fit: contain;
    transition: ease-in-out 0.2s;
}

.carousel {
    display: none;
}

.drag-indicator {
    display: none;
}

/*--------------.carousel_inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}*/

.carousel_inner {
    max-width: 550px;
    margin-top: -2%;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel_inner::after {
    content: "";
    display: block;
    clear: both;
}

.carousel_item {
    position: relative;
    float: left;
    display: none;
    width: 100%;
    margin-right: -100%;
}

/* slide effect */
.carousel_item__active,
.carousel_item__pos_next {
    display: block;
}

.carousel_item__pos_next {
    left: 100%;
    transition: ease-in-out 0.5s;
}

.carousel_item__next {
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
}

/* fade effect */
.carousel__fade .carousel_item__pos_next {
    left: 0;
    opacity: 0;
}

.carousel__fade .carousel_item__next {
    transform: none;
    opacity: 1;
    transition: opacity 2s ease-in-out;
}

.carousel__fade .carousel_item__active.carousel_item__next {
    opacity: 0;
}

.products-filter {
    width: 100%;
    background-color: #27423F;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#search-products {
    margin-top: 12px;
    margin-left: -45%;
    border-style: none;
    border-radius: 12px;
    height: 25px;
}

.filter-box {
    display: flex;
    justify-content: space-around;
    margin-top: 7px;
}

.filter-box select {

    height: 35px;
    margin: 0 5%;
    border-radius: 10px;
    color: gray;
    padding: 0 10px;
}

.filter-box select option {
    margin: 10px 0;
}

.filter-button {
    color: white;
    margin: 0 20%;
}

.filter-button-active {
    color: #5bb9ae
}

.price-filter-button {
    margin-top: 12px;
    color: #5bb9ae;
}

@media only screen and (max-width: 1300px) and (min-width: 992px) {

    .main-button-container {
        flex-direction: column;
        align-items: left;
    }

    .image-fitter-clothes-selection {
        height: 60px;
    }

    .most-rated-button img {
        margin-top: -1%;
    }

    .main-button-container {
        flex-direction: column;
        margin-top: 8%;
    }

    .abril-size-small {
        font-size: 38px;
    }

    .clothes-type-mobile {
        display: none;
    }

    .clothes-card-selector {
        display: none;
    }

    .degradade-page-selector {
        display: none;
    }

    .page-selector {
        display: none;
    }

    .clothes-card-mobile-2 {
        display: fixed;
    }

    .clothes-card-mobile {
        margin-top: 1%;
        display: flex;
        flex-direction: row;
        justify-content: space-around
    }

    .carousel {
        margin-left: 6%;
        margin-top: 5%;
        display: block;
    }

    .drag-indicator {
        margin-top: 25px;
        font-family: 'Abril Fatface', cursive;
        font-size: 35px;
        text-align: center;
        color: #268b7f;
        font-weight: bold;
        display: block;
    }

    .carousel__elemento {
        display: flex;
        flex-direction: row;
    }

    .carousel__elemento div {
        margin-top: 15%;
        margin-left: 5%;
    }

    .carousel__elemento p {
        max-width: 200px;
    }

    .carousel__elemento h4 {
        margin-left: -3px;
    }
}



@media only screen and (max-width: 992px) {

    .carousel_inner {
        margin-left: 10%;
        margin-top: 100px;
        justify-content: center;
        max-width: 100%;
        position: relative;
        overflow: hidden;
        float: center;
    }


    h5 {
        margin-left: 8%;
        margin-top: 6%;
    }

    img.input-img-search {
        bottom: 12%;
        right: 93%;
    }

    .main-container {
        flex-direction: column;
        height: max-content;
    }

    .main-image-fitter {
        margin-right: 13px;
        order: 0;
    }

    .main-text-container {
        margin-top: -15px;
        padding-top: 0px;
        padding-left: 8%;
        padding-bottom: 0px;
    }

    .main-text-icon {
        text-align: center;
    }

    .styled-main-text-paragraph {
        text-align: left;
    }

    .main-button {
        text-align: left;
        margin-top: -15px;
    }

    .most-rated-button {
        margin-top: -3px;
        margin-left: 10%;
        transition: ease-in-out 0.2s;
    }

    .most-rated-button>img {
        margin-top: -5px;
        margin-left: 5px;
    }

    .main-button-container {
        flex-direction: row;
        margin-top: 35px;
    }

    .abril-size-small {
        margin-top: 10px;
        font-size: 33px;
    }

    .clothes-type-selector {
        display: none;
    }

    .clothes-card-selector {
        display: none;
    }

    .degradade-page-selector {
        display: none;
    }

    .page-selector {
        display: none;
    }

    .clothes-card-mobile {
        margin-top: 3%;
        display: flex;
        flex-direction: row;
        justify-content: space-around
    }

    .clothes-type-mobile {
        display: flex;
        justify-content: space-around;
    }

    .card-img-style {
        margin-left: 10%;
        height: 400px;
        object-fit: contain;
        transform: scale(1.0);
        transition: transform 5s, filter 3s ease-in-out;

    }

    .call-to-action-section {
        flex-direction: column;
        margin-top: -3%;
    }

    .call-to-action-fix {
        justify-content: center;
    }

    .call-to-action-column p {
        justify-content: space-around;
        margin-top: 30px;
        margin-left: 0%;
        font-weight: 300;
        max-width: 300px;
        margin-bottom: 50px;
    }

    .call-to-action-fix img {
        margin-top: 50px;
        height: 300px;
        object-fit: contain;
    }

    .call-to-action-text p {
        font-family: 'Abril Fatface', cursive;
        font-size: 3rem;
        margin-top: -15px;

    }

    footer {
        background-color: black;
        height: 250px;
        margin-top: -17%;
    }

    .carousel {
        margin-top: 5%;
        display: block;
    }

    .drag-indicator {
        margin-top: 25px;
        font-family: 'Abril Fatface', cursive;
        font-size: 25px;
        text-align: center;
        color: #268b7f;
        font-weight: bold;
        display: block;
    }

    .carousel__elemento {
        display: flex;
        flex-direction: column;
    }

    .carousel__elemento div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
        margin-left: 3%;

    }

    .carousel__elemento p {
        text-align: center;
        max-width: 200px;
    }

    .carousel__elemento h4 {
        text-align: center;
        margin-left: 0;
    }

    .carousel_inner {
        max-width: 550px;
        margin-top: -3%;
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .main-image-fitter {
        height: 400px;
        object-fit: contain;
    }

    .products-filter {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #search-products {
        margin-left: 0%;
    }

.filter-box select {
    margin: 3% 2%; 
    border-color: white;
}

    .filter-box select option {
        margin: 0 0;

    }

    .details-main-container{
        display: flex;
        flex-direction: column;
    }

    #detail-product-img{
        margin: 5% 0;
        height: 300px;
    }

         #detail-product-description{
            font-size: 18px;
         }

         #detail-product-title{
            margin: 0 0;
            font-size: 38px;
         }

        .details-main-container div {
            width: 100%;
            margin-left: 0%;
           display: flex;
           flex-direction: column;
           text-align: center;
           align-items: center;
           margin-bottom: -5%;
        }

        #detail-product-button{
            width: 250px;
        }

}

@media only screen and (max-width: 460px) {


    .products-filter {
        flex-direction: column;
    }


    .clothes-type-selector {
        display: none;
    }

    .degradade-page-selector {
        display: none;
    }

    .page-selector {
        display: none;
    }


    .clothes-type-mobile {
        display: flex;
        justify-content: space-around;
    }

    .main-button-container {
        flex-direction: column;
        margin-top: 35px;
        margin-left: 0px;
    }

    .most-rated-button {
        margin-top: 10px;
        transition: ease-in-out 0.2s;
    }

    .most-rated-text {
        margin-left: -30px;
    }

    .main-image-fitter {

        height: 350px;
        object-fit: contain;
        margin-left: 0;
        margin-top: 0%;
    }

    .main-container {
        margin-top: -10%;
    }

    .main-text-container {
        margin-top: 10%;
        padding-left: 15px;
    }

    .card-arrow-size {
        margin-top: 150px;
        object-fit: contain;
    }

    .card-img-style {
        justify-content: space-around;
        margin-left: 5%;
        height: 300px;
        object-fit: contain;
    }

    .clothes-card-mobile {
        margin: 0px 20px;
    }

    .call-to-action-text p {
        font-family: 'Abril Fatface', cursive;
        font-size: 2rem;
        margin-top: 5px;

    }

    footer {
        background-color: black;
        height: 250px;
        margin-top: -25%;
    }

    .carousel {
        margin-top: 5%;
        display: block;
    }

    .carousel_inner {
        margin-top: 15%;
        position: relative;
        width: 100%;
        overflow: hidden;
    }
}

.arrow-size:hover {
    opacity: 0.6;
    transition: ease-in-out 0.5s;
}

.card-arrow-size:hover {
    opacity: 0.6;
    transition: ease-in-out 0.5s;
}

.most-rated-button button:hover {
    color: #36726B;
    transition: ease-in-out 0.2s;
}

.main-button-content:hover {
    opacity: 0.8;
    transition: ease-in-out 0.2s;
}

h4:hover {
    opacity: 0.8;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.contact-me-links img:hover {
    opacity: 0.8;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.page-selector h4:hover {
    color: #36726B;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.breadCrumbs {
    font-size: 12px;
    margin-top: 2%;
    margin-bottom: -4%;
    color: #268b7f;
    margin-left: 4%;
}

.breadCrumbs span {
    color: #27423F;
    font-size: 15px;
    font-weight: bold;
}

.see-all-products-button:hover {
    opacity: 0.6;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

.card-img-style:hover {
    object-fit: contain;
    transform: scale(1.1);
    transition: transform 5s, filter 3s ease-in-out;
    cursor: pointer;
}

.image-fitter-clothes-selection:hover {
    object-fit: contain;
    transform: scale(1.1);
    transition: transform 2s, filter 3s ease-in-out;
    cursor: pointer;
}

.main-image-fitter:hover {
    object-fit: contain;
    transform: scale(1.03);
    transition: transform 2s, filter 3s ease-in-out;
    cursor: pointer;
}

.card-button-products:hover {
    opacity: 0.6;
    transition: ease-in-out 0.5s;
    ;
}